modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -H 0.0.0.0 -p 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start", "--", "-H", "0.0.0.0", "-p", "5000"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_FIREBASE_APP_ID = "1:280542969604:web:74cf390d3003949adcda51"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "280542969604"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "list-3dd64.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "list-3dd64"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "list-3dd64.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyD0SzgN-4TAcYX453vj2SQ-mKDkb0Y4C5A"
